body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    animation: pulse 2s infinite;
}

.github-link {
    color: #fff;
    transition: color 0.3s;
}

.github-link:hover {
    color: #007bff;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: all 0.3s;
}

.button:hover::before {
    left: 100%;
}

.button:hover {
    background-color: #444;
    box-shadow: 0 0 25px rgba(0, 255, 255, 1);
}

@keyframes pulse {
    0%, 100% {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1);
    }
}
